*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/wp-cache-config.php
wp-content/languages/admin-en_GB.mo
wp-content/languages/admin-en_GB.po
wp-content/languages/admin-network-en_GB.mo
wp-content/languages/admin-network-en_GB.po
wp-content/languages/continents-cities-en_GB.mo
wp-content/languages/continents-cities-en_GB.po
wp-content/languages/en_GB.mo
wp-content/languages/en_GB.po
/.DS_Store
ig-cache.json